#headline1{
  font-family: Verdana;
  font-style: bold;
  font-size: 25px;
  text-align: center;
}
#headline2{
  font-family: Verdana;
  font-size: 17px;
  text-align: center;
}
#date{
  font-family: Courier;
  font-size: 11px;
  padding-bottom: 3px;
  text-align: center;
}
#navbar {
  text-align: right;
  margin-right: 94px;
  margin-top:50px;
}
#header{
position:relative;
top: -10px;
}
#tablestyle{
  font-family: Verdana;
  color: #A9A9A9;
  display: inline-block;
  padding: 2px;
}
#left{
  float:left;
  width: 65%;
}
#right{
  float:right;
  width:35%;
  text-align:right;
  margin-right: 25px;
}
td{
  height:25px;
  width: 35px;
}
th{
  font-family: Verdana;
  font-size: 1em;
  font-weight: normal;
  color:black;
}
p{
  font-family: Verdana;
  font-size: 13px;
  word-spacing: 1px;
  padding-left: 90px;
  padding-right:90px;
}
#p1{
  padding-top: 50px;
}
hr{
  width: 500px;
}
a{
  color:#A9A9A9;
  text-decoration: none;
}
a:visted{
  color:#CD5C5C;
  }
a:hover{
  color: black;
}
