body, div, h1, h2, h3, h4, h6, p, ul, li{
  margin: 0;
  padding: 0
  border:0;
}
body{
  font: 14px/24px 'Lato', sans-serif;
  color: black;
}
a{
  color:#A9A9A9;
  text-decoration: none;
}
a:visted{
  color:#842D40;
  }
a:hover{
  color: #C43D54;
}
#container{
  width: 960px;
  margin 0 auto;
}
#header{
  overflow: hidden;
}
#header #navbar{
  float: right;
  margin: 35px 30px 0 0;
  font-size: 14px;
}
#main{
  overflow: hidden;
  border-bottom: 15px solid #fff;
}
#main #content .blog-title{
  font-family: 'Alegreya', serif;
  font-weight: normal;
  font-style: bold;
  font-size: 25px;
  text-align: center;
  margin: 0 0 15px 0;
}
#main p{
  margin: 0 0 24px 0;
}
#main #content .post-info{
  float:right;
}
#main #side{
  width: 263px;
  float:left;
  padding:15px solid white;
}
#main #side ul#posts{
  list-style: none;
  margin: 0 0 30px 0;
}
#main #side #h3{
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 10px 0;
  text-align: center;
}

