article, aside, footer, header, hgroup, main, nav, section{
  display: block;
}
nav ul{
  list-style-type: none;
  padding-left: 360px;
}
#main{
  display: block;
}
#main #headline{
  font-family: 'Alegreya', serif;
  font-size: 10em;
}
#about{
  float:left;
  width:73%;
  display: inline-block;
}
p{
  display: block;
}
footer{
  font-size: 15px;
  border-top: 1px solid black;
  padding: 20px;
}