* {
  /* border: 1px solid #ccc; */
}
#header{
  overflow: hidden;
}
#header #navbar{
  float: right;
  margin: 0em 0em 0 0;
  font-size: 14px;
}
#content{
  width: 50%;
  margin: 0 auto;
}
#headline{
  font-family: 'Alegreya', serif;
  font-size: 2em;
}
.body{
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.5em;
  display: inline-block;
}
#footer{
  overflow:hidden;
  margin: 0 0 60px 0;
}